%ul.dropdown-menu.pull-right
  %li= link_to 'Home', root_path, target: :_blank
  %li.divider
  %li.preview= link_to 'Preview', 'javascript:void(0)'
  %li.publish= link_to 'Publish', 'javascript:void(0)'
  %li.divider
  %li.save= link_to 'Save', 'javascript:void(0)'
  %li.destroy= link_to 'Delete', 'javascript:void(0)'
  %li.divider
  %li.fullscreen.expand= link_to 'Full Screen', 'javascript:void(0)'
  %li.contrast.contrast-light= link_to 'Contrast', 'javascript:void(0)'
