%ul.dropdown-menu.pull-right{ 'ng-controller' => :MenuCtrl }
  %li= link_to 'Home', root_path, target: :_blank
  %li.divider
  %li.preview{ 'ng-click' => 'togglePreview()' }= link_to 'Preview', 'javascript:void(0)'
  %li{ 'ng-click' => 'publish()' }= link_to 'Publish', 'javascript:void(0)'
  %li.divider
  %li{ 'ng-click' => 'save()' }= link_to 'Save', 'javascript:void(0)'
  %li{ 'ng-click' => 'destroy()' }= link_to 'Delete', 'javascript:void(0)'
  %li.divider
  %li.expand{ 'ng-click' => 'fullscreen($event)' }= link_to 'Full Screen', 'javascript:void(0)'
  %li.contrast-light{ 'ng-click' => 'contrast($event)' }= link_to 'Contrast', 'javascript:void(0)'
