.posts
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-filing

    %ul.dropdown-menu
      = render 'posts'

.menu
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-navicon-round

    = render 'menu'

= form_for(post, remote: true, html: { 'ng-init' => 'loadPostFromUrl()' }) do |f|
  = f.text_field :title, placeholder: 'Buzzword filled title'
  = f.text_area  :content, placeholder: 'Try to write something interesting'

  #preview

.bottom
  .notices
  .counts
    %span.words 0 Words
    %span.characters 0 Characters
