.posts
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-filing

    %ul.dropdown-menu
      %li
        %strong.new Create new post...
      %li.divider

      - posts.each do |post|
        %li{ 'data-slug' => post.slug }
          %strong= post.title.size > 65 ? post.title[0...65] + '...' : post.title
          .post-created== Created #{time_ago_in_words(post.created_at)} ago
          .post-status= post.status

        - unless post == Post.last
          %li.divider

.menu
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-navicon-round

    %ul.dropdown-menu.pull-right
      %li= link_to 'Publish', 'javascript:document.forms[0].submit()'
      %li.divider
      %li.fullscreen
        = link_to 'javascript:void(0)' do
          %i.ion-arrow-expand
          Full Screen
      %li.contrast.contrast-light
        = link_to 'javascript:void(0)' do
          %i.ion-contrast
          Contrast

= form_for(post) do |f|
  = f.text_field :title, placeholder: 'Buzzword filled title'
  = f.text_area :content, placeholder: 'Try to write something interesting'

.bottom
  .counts
    %span.words 0 Words
    %span.characters 0 Characters
