.posts
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-filing

    %ul.dropdown-menu
      %li
        %strong.new Create new post...
      %li.divider

      - posts.each do |post|
        %li{ 'data-slug' => post.slug }
          %strong= post.title.size > 65 ? post.title[0...65] + '...' : post.title
          .post-created
            == Created
            %abbr{ title: post.created_at}== #{time_ago_in_words(post.created_at)}
            ago

            - if post.created_at != post.updated_at
              == &mdash; Updated
              %abbr{ title: post.updated_at }== #{time_ago_in_words(post.updated_at)}
              ago
          .post-status= post.status

        - unless post == Post.last
          %li.divider

.menu
  .btn-group
    %button.btn.btn-default.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown }
      %i.ion-navicon-round

    %ul.dropdown-menu.pull-right
      %li.preview= link_to 'Preview', 'javascript:void(0)'
      %li.publish= link_to 'Publish', 'javascript:void(0)'
      %li.divider
      %li.destroy= link_to 'Delete', 'javascript:void(0)'
      %li.divider
      %li.fullscreen
        = link_to 'javascript:void(0)' do
          %i.ion-arrow-expand
          Full Screen
      %li.contrast.contrast-light
        = link_to 'javascript:void(0)' do
          %i.ion-contrast
          Contrast

= form_for(post, remote: true, authenticity_token: true) do |f|
  = f.text_field :title, placeholder: 'Buzzword filled title'
  = f.text_area :content, placeholder: 'Try to write something interesting'

.bottom
  .notices
  .counts
    %span.words 0 Words
    %span.characters 0 Characters
