#login
  .logo= Blog.config.name

  = form_for(resource, as: resource_name, url: session_path(resource_name), builder: LoginFormBuilder) do |f|
    = f.email_field :email, autofocus: true, autocomplete: :off, placeholder: 'email address', class: 'validate-email'
    = f.password_field :password, autocomplete: :off, placeholder: :password, class: 'validate-password'
    = f.submit 'Sign in'
