!!!
%html
  %head
    %title
      = Blog.config.title
      = ' | ' + content_for(:title) if content_for?(:title)
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lora:400,700'
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Source+Code+Pro'
    = stylesheet_link_tag    :application, media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.main
    = render 'layouts/google_analytics' if Blog.config.google_analytics_id

    #header= link_to Blog.config.name, root_path

    = yield

    #footer
      #about
        %p= Blog::Markdown.new(Blog.config.about).render.html_safe

      #links
        = link_to '', "https://github.com/#{Blog.config.github}", class: 'ion-social-github-outline' if Blog.config.github
        = link_to '', "mailto:#{Blog.config.email}", class: 'ion-ios7-email-outline' if Blog.config.email
        = link_to '', "https://twitter.com/#{Blog.config.twitter}", class: 'ion-social-twitter-outline' if Blog.config.twitter
